@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h3 {
    display: block;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: rgb(224, 117, 30);
}

.navBar {
    background-color: rgb(74, 59, 210);
    color: white;
    height: 7rem;
    /* display: flex; */
}

.navBar__nav {
    padding: 3rem;
    list-style: none;
    display: flex;
    /* flex-direction: row; */
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.navBar__nav > li {
    margin-left: 2rem;
}

.mainCont {
    margin: 5rem 15rem;
    display: flex;
    justify-content: space-between;
}

.showNode span {
    font-weight: 400;
    color: black;
}

.showNode {
    margin-left: 4rem;
    border: 4px solid rgb(32, 32, 32);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
}

.showNode__machine{
    color: rgba(171, 35, 250, 0.925);
}

.myDiagramDiv {
}
